---
layout: base
favicon: favicon-Code.ico
---
<header>
  <div class="container post-container">
    {% include navigation.html %}
    <div class="inner-container">
      <h1>{{ site.title }}</h1>
      <h1><small>{{ site.tagline }}</small></h1>
      <div id="console">
        <span class="cursor" id="typed" style="display: inline;">&nbsp;&gt; </span>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container wrapper">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2>What I'm <span class="yellow pulse fa fa-bolt"></span> passionate about</h2>
      </div>
      
      <div class="col-md-10 col-md-offset-1">
      
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-code icon-shadow"></span></p>
            <h3>Writing Code</h3>
          </div>
          <span class="bar"></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-area-chart icon-shadow"></span></p>
            <h3>Data Science</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-heartbeat icon-shadow"></span></p>
            <h3>Cell Biology</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-music icon-shadow"></span></p>
            <h3>Music</h3>
          </div>
          <span class="bar"></span>  
        </div>
        
      </div>
      
      <div class="col-md-12 text-right">
        <p><a href="/about/" class="internallink thunder">
          Learn more about me <span class="fa fa-angle-double-right"></span></a>
        </p>
      </div>
    </div>
    
    <br>
    <hr>
    <br>
    
    <div class="row">
      
      <div class="col-md-12 text-center">
        <h2>My Projects and Code</h2>
      </div>
      
      <div class="col-md-10 col-md-offset-1">
        
        <div class="col-md-3 text-center">
          <h3>Kelley Blue Book</h3>
          <a href="http://tai-pach.github.io/kbb/" target="_blank">
          <img src="/images/projects/kbb.jpg" alt="kelley blue book R package" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>
        </div>

        
        <div class="col-md-3 text-center">
          <h3>Kickstarter</h3>
          <a href="http://tai-pach.github.io/Kickstarter-Project/" target="_blank">
          <img src="/images/projects/kickstarter.png" alt="kickstarter R package" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>
        </div>

        <div class="col-md-3 text-center">
          <h3>Simple API (work in progress)</h3>
          <a href="https://taipach.shinyapps.io/API_1/" target="_blank">
          <img src="/images/projects/api.png" alt="API" style="max-width: 80%;" />
          </a>
          <span class="bar"></span>
        </div>
        
      </div>

      <div class="col-md-12 text-right">
        <p><a href="/projects/" class="internallink thunder">
          View more <span class="fa fa-angle-double-right"></span></a>
          </p>
      </div>
    </div>
    
    <br>
    <hr>
    <br>    
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>From the blog</h2>
      </div>
      {% for post in site.posts limit:4 %}
      <div class="col-md-10 col-md-offset-1 postlinkcontainer">
        <a href="{{ post.url }}" class="postlink internallink">
          <h3>{{ post.title }}<span class="pull-right">{{ post.date | date: "%B %Y" }}</span></h3>
        </a>
        <span class="bar"></span>
      </div>
      {% endfor %}  
      <div class="col-md-12 text-right">
        <p><a href="/blog/" class="internallink thunder">View more <span class="fa fa-angle-double-right"></span></a></p>
      </div>
    </div>
    
    <div class="push"></div>
  </div>
  {% include footer.html %}
  <script src="/js/typed.custom.js"></script>
  <script src="/js/index.js"></script>
</article>
