    
  <footer>
      <div class="row">
        <div class="col-md-4 text-left">
          Ben Witte {{ site.time | date: '%Y' }} <span class="fa fa-creative-commons"></span>
        </div>
         <div class="col-md-4 text-center">
          <a href ="https://github.com/benwitte">
            <span class="thunder fa fa-code"></span>
          </a>
        </div>
        <div class="col-md-4 text-right">
          <a
            href ="https://www.linkedin.com/in/benjamin-witte-66785a53/"
            title="My linkedin profile">
              <span class="thunder fa fa-linkedin"></span>
          </a>
        </div>
      </div>
  </footer>
  <!--
  <div id="fade"></div>
  -->
